@charset "utf-8"; 


.slick-list,.slick-slider,.slick-track {
	position: relative;
	display: block
}

.slick-loading .slick-slide,.slick-loading .slick-track {
	visibility: hidden
}

.slick-dots li button:before,.slick-next:before,.slick-prev:before {
	font-family: slick;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

.hero-title.ct,header .topbar .signin-btn-group {
	font-weight: 700
}

.slick-slider {
	box-sizing: border-box;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent
}

.slick-list {
	overflow: hidden;
	margin: 0;
	padding: 0
}

.slick-list:focus {
	outline: 0
}

.slick-list.dragging {
	cursor: pointer;
	cursor: hand
}

.slick-slider .slick-list,.slick-slider .slick-track {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0)
}

.slick-track {
	left: 0;
	top: 0
}

.slick-track:after,.slick-track:before {
	content: "";
	display: table
}

.slick-track:after {
	clear: both
}

.slick-slide {
	float: left;
	height: 100%;
	min-height: 1px;
	display: none
}

[dir=rtl] .slick-slide {
	float: right
}

.slick-slide img {
	display: block
}

.slick-slide.slick-loading img {
	display: none
}

.slick-slide.dragging img {
	pointer-events: none
}

.slick-initialized .slick-slide {
	display: block
}

.slick-vertical .slick-slide {
	display: block;
	height: auto;
	border: 1px solid transparent
}

.slick-arrow.slick-hidden {
	display: none
}

.slick-dots,.slick-next,.slick-prev {
	position: absolute;
	display: block;
	padding: 0
}

.slick-loading .slick-list {
	background: url(../images/ajax-loader.gif) center center no-repeat #fff
}

@font-face {
	font-family: slick;
	src: url(../fonts/slick.eot);
	src: url(../fonts/slick.eot?#iefix) format("embedded-opentype"),
		url(../fonts/slick.woff) format("woff"), url(../fonts/slick.ttf)
		format("truetype"), url(./fonts/slick.svg#slick) format("svg");
	font-weight: 400;
	font-style: normal
}

.slick-next,.slick-prev {
	height: 20px;
	width: 20px;
	line-height: 0;
	font-size: 0;
	cursor: pointer;
	background: 0 0;
	color: transparent;
	top: 50%;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
	border: none;
	outline: 0
}

.slick-next:focus,.slick-next:hover,.slick-prev:focus,.slick-prev:hover
	{
	outline: 0;
	background: 0 0;
	color: transparent
}

.slick-next:focus:before,.slick-next:hover:before,.slick-prev:focus:before,.slick-prev:hover:before
	{
	opacity: 1
}

.slick-next.slick-disabled:before,.slick-prev.slick-disabled:before {
	opacity: .25
}

.slick-next:before,.slick-prev:before {
	font-size: 20px;
	line-height: 1;
	color: #fff;
	opacity: .75
}

.slick-prev {
	left: -25px
}

[dir=rtl] .slick-prev {
	left: auto;
	right: -25px
}

.slick-prev:before {
	content: "←"
}

.slick-next:before,[dir=rtl] .slick-prev:before {
	content: "→"
}

.slick-next {
	right: -25px
}

[dir=rtl] .slick-next {
	left: -25px;
	right: auto
}

[dir=rtl] .slick-next:before {
	content: "←"
}

.slick-dotted.slick-slider {
	margin-bottom: 30px
}

.slick-dots {
	bottom: -25px;
	list-style: none;
	text-align: center;
	margin: 0;
	width: 100%
}

.slick-dots li {
	position: relative;
	display: inline-block;
	height: 20px;
	width: 20px;
	margin: 0 5px;
	padding: 0;
	cursor: pointer
}

.slick-dots li button {
	border: 0;
	background: 0 0;
	display: block;
	height: 20px;
	width: 20px;
	outline: 0;
	line-height: 0;
	font-size: 0;
	color: transparent;
	padding: 5px;
	cursor: pointer
}

.btn-blue,.btn-gray,.btn-orange,header .topbar .signin-btn-group>.dropdown-menu,header .topbar .signin-btns a
	{
	border-radius: 0
}

.slick-dots li button:focus,.slick-dots li button:hover {
	outline: 0
}

.slick-dots li button:focus:before,.slick-dots li button:hover:before {
	opacity: 1
}

.slick-dots li button:before {
	position: absolute;
	top: 0;
	left: 0;
	content: "•";
	width: 20px;
	height: 20px;
	font-size: 6px;
	line-height: 20px;
	text-align: center;
	color: #000;
	opacity: .25
}

.slick-dots li.slick-active button:before {
	color: #000;
	opacity: .75
}

html {
	font-size: 14.5px;
	
}

body {
	margin: 0;
	padding: 0;
	font-size: 1em;
	line-height: 1.38;

}

img {
	max-width: 100%;
	vertical-align: middle;
	height: auto;
}

.btn-orange {
	background: #f86f0a;
	color: #fff
}

.btn-orange:active,.btn-orange:hover {
	background: #cb6820;
	color: #fff
}

.btn-blue {
	background: #459ff9;
	color: #fff
}

.btn-blue:active,.btn-blue:hover {
	background: #126ec9;
	color: #fff
}

.btn-gray {
	background: #919293;
	color: #fff
}

.btn-gray:active,.btn-gray:hover {
	background: #7b7c7d;
	color: #fff
}

.btn-search {
	color: #333;
	background-color: #fff;
	padding: 5px 15px
}

.btn-blue {
	background: #59aaf8;
	color: #fff;
	padding: 5px 12px;
	vertical-align: baseline
}

.btn-blue:active,.btn-blue:hover {
	background: #6399f0;
	color: #fff
}

.btn {
	font-size: .875em
}

.hero-title.ct {
	font-size: 1em;
}

@media ( min-width :768px) and (max-width:992px) {
	.container {
		width: 100%
	}
}

#custom_print {
	min-height: 400px
}

.portlet-column .portlet-column-content-only {
	padding: 0
}

.portlet-body .container {
	margin: 0;
	padding: 0
}

@media ( min-width :992px) {
	.portlet-body .container {
		width: 940px;
		max-width: 100%
	}
}

@media ( min-width :1200px) {
	.portlet-body .container {
		width: 1140px;
		max-width: 100%
	}
}


header {
	position: relative;
	z-index: 10;
	background: url(../images/banner-top.png) left -5px no-repeat
}

header .topbar {
	min-height: 40px;
	padding: 5px 0
}

header .topbar .container {
	text-align: right
}

header .topbar .signin-btn-group button {
	text-shadow: none;
	background: none;
}

header .topbar .signin-btn-group>.btn {
	font-size: .75em;
	border-radius: 0;
	padding: 3px 12px;
	background-color: #fbd01f;
}

header .topbar .signin-btn-group>.dropdown-menu a {
	color: #333;
	background: 0 0
}

header .topbar .signin-btn-group>.dropdown-menu a:hover {
	color: #fff
}

header .topbar .signin-btns {
	display: inline-block;
	margin-right: 3px
}

header .topbar .signin-btns .selectric-select {
	display: inline-table;
	min-width: 150px
}

header .topbar .signin-btns .selectric-select .selectric {
	background: #fff
}

header .topbar .signin-btns .selectric-select .selectric .button {
	border-left: 1px solid #ccc;
	height: 25px
}

header .topbar .signin-btns .selectric-select .selectric .label {
	padding: 0;
	line-height: 25px;
	height: 25px
}

header .topbar .signin-btns .selectric-select .selectric-items .selectric-scroll
	{
	text-align: left
}

header .topbar .signin-btns .selectric-select .selectric-items .selectric-scroll li
	{
	padding: 5px
}

header .topbar .signin-btns .mobile {
	display: none
}

header .topbar .signin-btns a {
	background: #1d8ec6;
	color: #fff;
	border-radius: 0;
	padding: 4px 8px;
	font-size: .75em
}

header .topbar .signin-btns a.user-login {
	background: url(../images/icon_user.png) 6px center no-repeat #fcdb00;
	background-size: 22px;
	color: #000;
	font-weight: 700;
	padding-left: 34px
}

header .topbar .signin-btns a.user-login:hover {
	background: url(../images/icon_user.png) 6px center no-repeat;
	background-color: #d5bc12;
	background-size: 22px
}

header .topbar .signin-btns a:hover {
	background: #1877bb
}

header .topbar .font-resize-group {
	display: inline-block;
	margin-right: 3px
}

header .topbar .font-resize-group a {
	font-size: .75em;
	padding: 0 8px;
	border-right: 1px solid #1877bb
}

header .topbar .font-resize-group a:last-child {
	border-right: none
}

header .topbar .lang {
	padding: 8px 0;
	display: inline-block
}

header .topbar .lang a {
	font-size: .88em;
	padding: 0 8px;
	color: #474747;
	border-right: 1px solid #474747
}

header .topbar .lang a:last-child {
	border-right: none
}

header .logo {
	margin-bottom: 5px
}

header .logo .logo_img_zh_TW, header .logo .logo_img_zh_CN {
	position: absolute;
	top: -35px;
	max-width: 364px;
	width: 364px
}

header .logo .logo_img_en_US, header .logo .logo_img_pt_PT {
	position: absolute;
	top: -35px;
	max-width: 551px;
	width: 551px
}

header .logo .right {
	text-align: right;
	padding: 5px 0;
	float: right
}

header .logo .right .searchLabel {
	color: #aaa;
	vertical-align:middle;
	white-space: nowrap;
	padding: 2px;
	text-align:center;
}

header .logo .right .search {
	background: url(../images/icon_s.png) right center no-repeat;
	padding: 3px 22px 3px 6px;
	border: 1px solid #d0d0d0;
	vertical-align:middle;
}

header .logo .left .dropdown {
	position: absolute;
	top: -20px;
	left: -60px;
}

@media ( max-width :767px) {
	header .topbar {
		padding: 0
	}
	header .topbar .container {
		text-align: center
	}
	header .topbar .lang a {
		font-size: .88em
	}
	header .logo .logo_img_zh_TW, header .logo .logo_img_zh_CN, header .logo .logo_img_en_US, header .logo .logo_img_pt_PT {
		position: relative;
		top: 0;
		width: 100%
	}
	header .logo .right {
		padding: 5px 20px
	}
	header .logo .left {
		padding: 0
	}
}

@media ( max-width :991px) {
	header .logo .logo_img_zh_TW, header .logo .logo_img_zh_CN, header .logo .logo_img_en_US, header .logo .logo_img_pt_PT {
		position: relative;
		top: 0
	}
}

#main-carousel+.slick-container {
	padding-bottom: 60px;
	background: #f7f7f7;
	margin-bottom: -50px
}

#main-carousel+.slick-container .slick-carousel {
	margin: 0;
	padding: 6px 0
}

.slick-container {
	width: 100%
}

.slick-container .slick-btn {
	position: absolute;
	right: 5px;
	bottom: 5px;
	font-size: .875em
}

.content {
	min-height: 500px;
	padding: 0
}

.content>.container .home-content {
	padding: 0 0 15px 0;
}

.content>.container .home-content:after,.content>.container .home-content:before
	{
	content: ' ';
	display: block;
	clear: both
}

.content .common-function {
	border: 1px solid #ddd;
	padding: 5px
}

.content .common-function .function-img {
	margin-bottom: 5px
}

.content .common-function .more {
	text-align: right
}

.content .common-function-btn {
	font-size: .875em
}

.content .latest-news .nav-tabs {
	border-bottom: none;
	margin: 0
}

.content .latest-news .nav-tabs li.active a {
	color: #126ec9;
	background: #fff;
	border: 1px solid #006A91;
	border-bottom-color: transparent
}

.content .latest-news .nav-tabs li.active a.latest-notice-a {
	color: #126ec9;
	border: 1px solid #006A91;
	border-bottom-color: transparent
}

.content .latest-news .nav-tabs li a {
	color: #333;
	border: 1px solid #ccc;
	border-bottom-color: #006A91;
	border-radius: 0;
	padding: 12px 30px;
	background: #eee
}

.content .latest-news .nav-tabs li a.latest-notice-a {
	border-bottom-color: #006A91
}

.content .latest-news .tab-content {
	padding: 0;
	border: 0
}

.content .latest-news .tab-pane {
	padding: 6px 20px;
	border: 1px solid #006A91;
	background-color: #fff
}

.content .latest-news .tab-pane.latest-notice {
	border: 1px solid #006A91
}

@media ( max-width :1200px) {
	.content .latest-news .tab-pane {
		height: auto
	}
}

.content .latest-news .latest-news-list {
	list-style: none;
	margin: 0;
	padding: 0
}

.content .latest-news .latest-news-list li {
	border-bottom: 1px solid #eaeaea;
	padding: 13px 8px
}

.content .latest-news .latest-news-list li:hover {
	background-color: #f7f8f8
}

.content .latest-news .latest-news-list li a {
	text-decoration: none;
	color: #333
}

.content .latest-news .latest-news-list li span {
	text-overflow: ellipsis;
	overflow: hidden
}

.content .latest-news .latest-news-list li span.date {
	color: #888
}

.content .latest-news .more {
	padding: 10px 0;
	text-align: right
}

.content .latest-news .more a {
	display: inline-block;
	padding: 2px 20px
}

.content .latest-notice .hero-title {
	margin-bottom: 10px;
	color: #00357d
}


.content .latest-notice .latest-news-list li a .l-top .date {
	display: table-cell;
	text-align: right;
	color: #545556;
}

.content .latest-notice .latest-news-list li a .l-top {
	width: 100%;
	display: table
}

.content .latest-notice .more .btn-notice {
	display: block;
	text-align: right;
	text-decoration: underline;
	color: #45b7f9;
	padding: 0
}

.content .latest-news .nav-tabs li a.latest-notice-a {
	border-bottom-color: #006A91
}

.content .latest-news .tab-content {
	padding: 0;
	border: 0
}

.content .latest-news .tab-pane {
	padding: 6px 20px;
	border: 1px solid #006A91;
	background-color: #fff
}

.content .latest-news .tab-pane.latest-notice {
	border: 1px solid #006A91
}

@media ( max-width :1200px) {
	.content .latest-news .tab-pane {
		height: auto
	}
}

/* region tab panel on main page */
.content .regions-tabs .nav-tabs {
	border-bottom: none;
	margin: 0;
}

.content .regions-tabs .nav-tabs li {
	text-align: center
}

.pt_PT .content .regions-tabs .nav-tabs li, .en_US .content .regions-tabs .nav-tabs li {
	width: 33.3%;
	text-align: center
}

.content .regions-tabs .nav-tabs li.active a {
	color: #126ec9;
	background-color: #edeef0;
	border: 1px solid #006A91;
	border-bottom-color: transparent
	
}

.content .regions-tabs .nav-tabs li a {
	color: #888;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #006A91;
	border-radius: 0;
	padding: 12px 10px;
	background: #fff;
}

.content .regions-tabs .tab-pane {
	border-top: 1px solid #006A91;
}


/* store list region tab panel */
.content .storelist-regions-tabs .nav-tabs {
	border-bottom: none;
	margin: 0;
}

@media ( max-width :767px) {
	.content .storelist-regions-tabs .nav-tabs li {
		text-align: center
	}
}

@media ( min-width :768px) {
	.content .storelist-regions-tabs .nav-tabs li {
		width: 33.3%;
		text-align: center
	}
}


.content .storelist-regions-tabs .nav-tabs li.active a {
	color: #126ec9;
	background-color: #edeef0;
	border: 1px solid #999;
	border-bottom-color: transparent
}

.content .storelist-regions-tabs .nav-tabs li.active a.regions-box-a {
	color: #126ec9;
	border-top: 1px solid #999;
}

.content .storelist-regions-tabs .nav-tabs li a {
	color: #888;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #999;
	border-radius: 0;
	padding: 12px 10px;
	background: #fff;
}


.content .storelist-regions-tabs .tab-pane {
	border: 1px solid #999;

}

.content .storelist-regions-tabs .tab-pane {
	background-color: #edeef0;
	padding: 15px
}

.content .store-list .store-type {
	padding: 5px; 
	text-align:center; 
	background-color:#fbd01f; 
	border-radius: 5px
}

@media ( max-width :767px) {
	.video-banner {
		height: 253px;
	}
	
	.video-banner .video-item {
		height: 253px;
	}	
	
	.video-banner .carousel-img {
		max-height: 180px
	}
}

.footer {
	background: #545454;
	padding: 0 0 0px;
	color: #fff;
	font-size: .8125em;
	position: relative;
}

.footer .scroll-to-top {
	position: fixed;
	text-align: center;
	bottom: 20px;
	right: 30px;
	display: inline-block;
	width: 60px;
	background: #999999;
	border-radius: 50%;
	padding: 9px 16px;
	line-height: 14px;
	opacity: 0.6;
	transition: .3s;
	z-index: 999;
	display: none;
}

.footer .scroll-to-top:hover {
	opacity: 1;
	background: #888888;
}

.footer .scroll-to-top a {
	color: #fff;
	white-space: normal;
	font-size: .895em
}

.footer .scroll-to-top a img {
	display: block;
	width: auto;
	margin: auto
}

.footer .footer-menu-block {
	color: #FFFFCC;
	background-color: #787777;
		bottom: 0px;
}

.footer .footer-share-nav {
	display: inline-block;
	width: auto;
	padding: 10px 15px
}

.footer .footer-share-nav a {
	display: inline-block;
	margin-right: 6px
}
.footer .latest-edit {
	display: inline-block;
}

.footer .footer-menu {
	padding: 20px 15px
}

.footer .footer-menu .fontButton {
	color: #FFFFCC
}

.footer .footer-info {
	padding-top: 5px
}

.footer .wechat-qr {
	padding-top: 0.8em;
	text-align: right
}
.footer .wechat-qr-left {
	padding-right: 0px;
}

.footer .wechat-qr-right {
	padding-left: 0px;
}

.footer .footer-email {
	color: #fff
}

@media ( max-width :767px) {
	.content .latest-news .latest-news-list li a span {
		white-space: normal
	}
	.footer .col-sm-6,.footer .wechat-qr {
		text-align: center
	}
	.footer .wechat-qr-left {
		padding-right: 15px;
	}
	.footer .wechat-qr-right {
		padding-left: 15px;
	}
	.footer .col-sm-6 {
		width: 100%
	}
}

@media ( min-width :768px) {
	.main-menu,.menubar {
		position: relative
	}
	.dse-menu,.dse-menu .li-level0.open.has-submenu .dropdown-menu1 {
		display: block
	}
	.dse-menu,.dse-menu .li-level0.open.has-submenu span {
		color: #000;
	}
	
	.menubar {
		background: #006A91;
		border-top: 1px solid #093d7e;
		box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
		position: relative;
		z-index: 10
	}
	.menubar .navbar-default {
		margin: 0;
		border: none;
		background: 0 0
	}
	.menubar .navbar-default .navbar-collapse {
		text-align: center
	}
	.menubar .container-fluid {
		padding: 0
	}
	.menu-bg {
		width: 100%;
		background: #efeeee;
		position: absolute;
		top: 50px;
		left: 0;
		height: 0
	}
	.dse-menu {
		float: none;
		vertical-align: bottom;
		width: 100%
	}
	.zh_TW .dse-menu .li-level0, .zh_CN .dse-menu .li-level0 {
		width: 14.286%;
		text-align: center
	}
	
	.en_US .dse-menu .li-level0, .pt_PT .dse-menu .li-level0 {
		width: 14.286%;
		text-align: center
	}
	
	.dse-menu .li-level0.has-submenu>a span {
		background: url(/lcp/images/arrow_nav_copy.png) right center no-repeat
	}
	.dse-menu .li-level0.open.has-submenu>a {
		background: #efeeee
	}
	.dse-menu .li-level0.open.has-submenu>a span {
		background: url(/lcp/images/arrow_nav_open.png) right center no-repeat
	}
	.dse-menu .li-level0>a {
		padding: 0;
		height: 50px;
		vertical-align: middle
	}
	.dse-menu .li-level0>a:before {
		display: inline-block;
		content: " ";
		width: 1%;
		height: 100%;
		vertical-align: middle
	}
	.dse-menu .li-level0>a span {
		display: inline-block;
		color: #fff;
		font-weight: 700;
		font-size: 16px;
		max-width: 90%;
		padding-right: 20px;
		vertical-align: middle;
		line-height: 1.13
	}
	
	.dse-menu .li-level0>a span.home-menu {
		background: 0 0;
		padding-right: 0;
		padding-left: 30px
	}
	.dse-menu .li-level0>a span.one-menu {
		padding-right: 0
	}
	.dse-menu .li-level0>a:after {
		display: block;
		content: " ";
		clear: both
	}
	.dse-menu .dse-dropdown-menu {
		position: absolute;
		top: 100%;
		left: 0;
		z-index: 1000;
		display: none;
		float: left;
		min-width: 160px;
		padding: 0;
		margin: 0;
		list-style: none;
		text-align: left;
		background-color: #fff;
		border: 0;
		-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
		box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
		background-clip: padding-box
	}
	.dse-menu .dse-dropdown-menu>li.open a {
		text-decoration: none;
		background-color: #FFFFCC
	}
	.dse-menu .dse-dropdown-menu>li a {
		display: block;
		border-bottom: 1px solid #a0a0a0;
		background-color: #efeeee;
		padding: 8px 20px 8px 10px;
		color: #333;
		min-width: 200px;
		clear: both
	}
	.dse-menu .dse-dropdown-menu>li a:hover {
		text-decoration: none;
		background-color: #FFFFCC
	}
	.dse-menu .li-level1 {
		position: relative
	}
	.dse-menu .li-level1.open .dropdown-menu2 {
		display: block
	}
	.dse-menu .li-level1.has-submenu>a:after {
		position: absolute;
		top: 12px;
		right: 13px;
		display: block;
		content: " ";
		width: 0;
		height: 0;
		border-color: transparent transparent transparent #ccc;
		border-style: solid;
		border-width: 5px 0 5px 5px
	}
	.dse-menu .li-level1:hover a:after {
		border-left-color: #000
	}
	.dse-menu .li-level2 {
		max-width: 320px;
		padding: 0 10px
	}
	.dse-menu .dropdown-menu2 {
		top: 0;
		left: 100%;
		background-color: #FFFFCC
	}
	.dse-menu .dropdown-menu2>li {
		background-color: #FFFFCC
	}
	.dse-menu .dropdown-menu2>li a {
		border-bottom: 1px solid #dcdcdc;
		color: #333;
		font-weight: 700;
		background: url(/lcp/images/arrow_menu_copy2.png) left top no-repeat;
		padding-left: 20px;
		text-decoration: none
	}
	.dse-menu .dropdown-menu2>li a.hover,.dse-menu .dropdown-menu2>li a:hover
		{
		border-color: #337ab7 !important
	}
	.dse-menu .dropdown-menu2 .li-level3 .hover,.dse-menu .dropdown-menu2 .li-level3 .hover:before
		{
		text-decoration: underline
	}
	.dse-menu .dropdown-menu2 .li-level3 .hover:before {
		text-decoration: none
	}
	.dse-menu .dropdown-menu3 {
		padding: 0 0 0 20px;
		margin: 0
	}
	.dse-menu .dropdown-menu3>li {
		list-style-type: none;
		padding: 0;
		max-width: 350px
	}
	.dse-menu .dropdown-menu3>li a {
		position: relative;
		display: block;
		color: #014385;
		font-weight: 400;
		background: 0 0;
		border-bottom: none;
		padding: 2px 5px 2px 15px
	}
	.dse-menu .dropdown-menu3>li a:before {
		position: absolute;
		left: 0;
		top: 0;
		content: '●';
		display: block;
		font-size: 9px;
		width: 15px;
		height: 15px;
		line-height: 25px;
		text-decoration: none !important
	}
	.dse-menu .dropdown-menu3>li a:hover {
		text-decoration: underline
	}
	.dse-menu .dropdown-menu4 {
		padding: 6px 0 0 15px;
		margin: 0;
	}
	.dse-menu .dropdown-menu4>li {
		display: block;
		list-style-type: none;
		max-width: 350px;
	}
	.dse-menu .dropdown-menu4>li a {
		position: relative;
		display: inline-block;
		padding: 0 0 6px;
		font-weight: 400;
		color: #333;
		margin-left: 7px;
	}
	.dse-menu .dropdown-menu4>li a:before {
		position: absolute;
		left: 0;
		top: 0;
		content: '■';
		display: block;
		font-size: 13px;
		margin-top:1px;
		width: 15px;
		height: 15px;
		line-height: 18px;
		text-decoration: none !important
	}
	.dse-menu .dropdown-menu4>li a:hover {
		text-decoration: underline
	}
	.dse-menu .dse-menu-tab {
		position: static !important
	}
	.dse-menu .dse-menu-tab .dropdown-menu1 {
		padding: 15px 0;
		width: 100%;
		background-color: transparent;
		box-shadow: none;
		border-bottom: 0;
		height: 480px
	}
	.dse-menu .dse-menu-tab .li-level1 {
		position: static;
		width: 18%
	}
	.dse-menu .dse-menu-tab .li-level1:first-child>a {
		border-top: 1px solid #a0a0a0
	}
	.dse-menu .dse-menu-tab .li-level1>a {
		position: relative;
		display: block;
		min-width: 0;
		border-radius: 0;
		margin-right: 0;
		padding: 8px 15px 8px 30px;
		background: 0 0;
		border-bottom: 1px solid #a0a0a0;
		font-size: 15px
	}
	.dse-menu .dse-menu-tab .dropdown-menu2 li,.dse-menu .dse-menu-tab .dropdown-menu2 ul
		{
		position: absolute;
		margin: 0
	}
	.dse-menu .dse-menu-tab .li-level1>a:after {
		top: 14px;
		left: 15px;
		right: 0
	}
	.dse-menu .dse-menu-tab .dropdown-menu2 {
		left: 18%;
		top: 15px;
		width: 82%;
		min-width: 900px;
		box-shadow: none;
		margin: 0;
		padding: 0;
		height: 470px;
		position: absolute
	}
	.dse-menu .dse-menu-tab .li-level2 {
		display: inline-block;
		width: 270px;
		max-width: 900px;
		padding: 0 10px;
		vertical-align: bottom
	}
	.dse-menu .dse-menu-tab .li-level2>a {
		display: block;
		word-wrap: break-word;
		border-bottom: 1px solid transparent
	}
	.dse-menu .dse-menu-tab .li-level2.has-submenu>a {
		word-wrap: break-word;
		border-bottom: 1px solid #dcdcdc
	}
	.dse-menu .dse-menu-tab .li-level2.has-submenu>a:hover {
		border-color: #337ab7
	}
	.dse-menu .dse-menu-tab .li-level3 {
		display: inline-block;
		vertical-align: bottom;
		width: 230px;
		padding: 0
	}
	.dse-menu .dse-menu-tab .li-level3>a {
		display: block;
		padding: 2px 5px 2px 15px
	}
	.dse-menu .dse-menu-tab .dropdown-menu4 {
		width: 210px;
		padding: 0 0 0 10px
	}
	.dse-menu .dse-menu-tab .li-level4 {
		width: 210px
	}
	.dse-menu .dse-menu-tab .li-level4>a {
		display: block;
		padding: 2px 5px 2px 15px
	}
	.dse-menu .dse-menu-tab .dropdown-menu3 {
		padding: 0;
		max-height: 400px
	}
	.bs-example-navbar-collapse-1 {
		position: relative
	}
}

.main-carousel,.video-banner {
	max-height: 628px;
	overflow: hidden
}

@media ( max-width :1630px) {
	.dse-menu .li-level0.last .dropdown-menu2 {
		left: auto;
		right: 100%
	}
}

@media ( max-width :767px) {
	.container,.container .container-fluid {
		padding: 0
	}
	#bs-example-navbar-collapse-1 {
		margin: 0;
		padding: 0
	}
	.menubar .navbar {
		margin-bottom: 0
	}
	.menubar .navbar-header {
		background: #006A91;
		margin: 0
	}
	.menubar .navbar-header .navbar-toggle,.menubar .navbar-header .navbar-toggle:focus
		{
		background: #fff
	}
	.menubar .navbar-header .navbar-toggle .icon-bar,.menubar .navbar-header .navbar-toggle:focus .icon-bar
		{
		background: #258cc5
	}
	.menubar ul.navbar-nav {
		display: block;
		text-align: center !important;
		margin: 0
	}
	.menubar ul.navbar-nav ul {
		margin: 0;
		padding: 0
	}
	.menubar ul.navbar-nav li {
		display: block;
		width: 100%;
		padding: 0;
		margin: 0;
		list-style-type: none
	}
	.menubar ul.navbar-nav li a {
		display: block;
		font-weight: 400;
		padding: 10px 15px
	}
	.menubar ul.navbar-nav .li-level0>a {
		color: #000;
		border-bottom: 1px solid #fff;
		background: #fbd01f
	}
	.menubar ul.navbar-nav .li-level1>a {
		background: #edeeef;
		border-bottom: 1px solid #a0a0a0;
		color: #000
	}
	.menubar ul.navbar-nav .li-level2>a {
		background: #aaa;
		border-bottom: 1px solid #fff;
		color: #fff
	}
	.menubar ul.navbar-nav .li-level3>a {
		background: #ddd;
		border-bottom: 1px solid #ccc;
		color: #353535
	}
	.menubar ul.navbar-nav .li-level4>a {
		background: #fff;
		border-bottom: 1px solid #ccc;
		color: #353535
	}
	.menubar ul.navbar-nav .dropdown-menu1,.menubar ul.navbar-nav .dropdown-menu2,.menubar ul.navbar-nav .dropdown-menu3
		{
		display: none
	}
	.menubar ul.navbar-nav .open>.dropdown-menu1,.menubar ul.navbar-nav .open>.dropdown-menu2,.menubar ul.navbar-nav .open>.dropdown-menu3
	{
		display: block;
	}
	.menubar ul.navbar-nav .open>a {
		background: #3a97b9 !important;
		color: #fff !important
	}
	.main-menu .menu-bg {
		display: none
	}
}

.slider .carousel-indicators-numbers {
	width: 100%;
	margin: 0;
	left: 0;
	text-align: right;
	padding: 0 40px;
	z-index: 1
}

.slider .carousel-indicators-numbers li {
	text-indent: 0;
	text-align: center;
	margin: 0 2px;
	width: 26px;
	height: 26px;
	border-radius: 0;
	line-height: 26px;
	color: #fff;
	background: 0 0;
	border: 1px solid #fff;
	transition: all .25s ease;
	font-size: .8125em
}

.slider .carousel-indicators-numbers li.active,.slider .carousel-indicators-numbers li:hover
	{
	margin: 0 2px;
	width: 26px;
	height: 26px;
	color: #189e9e;
	background-color: #fff
}

@font-face {
	font-family: slick;
	src: url(../fonts/slick.eot);
	src: url(../fonts/slick.eot?#iefix) format("embedded-opentype"),
		url(../fonts/slick.woff) format("woff"), url(../fonts/slick.ttf)
		format("truetype"), url(../fonts/slick.svg#slick) format("svg");
	font-weight: 400;
	font-style: normal
}

.main-banner {
	margin-bottom: 1px
}

.main-carousel.slick-dotted,.video-banner .slick-dotted {
	margin-bottom: 0
}

.main-carousel .slick-dots li,.slick-carousel.slick-dotted.slick-slider,.video-banner .slick-dots li
	{
	margin: 0
}

@media ( max-width :991px) {
	.main-banner {
		padding: 0
	}
}

.video-banner {
	padding: 0 3px
}

@media ( max-width :991px) {
	.video-banner {
		padding: 0
	}
}

.video-banner .video-item {
	position: relative;
	height: 490px;
	overflow: hidden;
	background: #6f6f6f
	
}

.video-banner .video-item:hover .item-content {
	height: auto;
	bottom: 0
}

.main-carousel .slick-dots,.video-banner .slick-dots {
	bottom: 5px
}

.video-banner .carousel-img {
	display: block;
	width: 100%;
	height: 430px
}

.video-banner .item-content {
	padding: 12px 12px 29px 12px;
	background: #6f6f6f;
	position: absolute;
	width: 100%
}

.video-banner .video-banner-table .item-play-btn {
	vertical-align: top;
	min-width: 32px
}

.video-banner .video-banner-table .item-title {
	width: 100%;
	padding-left: 6px;
	font-size: 1em;
	vertical-align: middle;
	color: #fff
}

.video-banner .slick-dots li button:before {
	color: #aaa;
	opacity: 1
}

.video-banner .slick-btn,.video-banner .slick-dots li.slick-active button:before,.video-banner .slick-dots li:hover button:before
	{
	color: #fff
}

.video-banner .video-carousel {
	border-left: 3px solid #6f6f6f;
	border-right: 3px solid #6f6f6f;
}

.slider:after,.slider:before {
	content: ' ';
	clear: both;
	display: block
}

.slider .common-item {
	display: block
}

.slick-container {
	position: relative
}

.main-slider {
	background: #f7f7f7
}

.main-carousel .carousel-img {
	display: block;
	width: 100%;
	height: 480px
}

.main-carousel .slick-dots li button:before {
	color: #aaa;
	opacity: 1
}

.main-carousel .slick-dots li.slick-active button:before,.main-carousel .slick-dots li:hover button:before
{
	color: #fff
}

.main-carousel:hover .slick-arrow {
	visibility: visible
}

.main-carousel .slick-arrow {
	z-index: 1;
	width: 25px;
	height: 43px;
	visibility: hidden
}

.main-carousel .slick-arrow:before {
	display: none
}

.main-carousel .slick-prev {
	left: 25px
}

.main-carousel .slick-next {
	right: 25px
}

.slick-carousel {
	padding: 6px 0 30px 0;
	max-height: 168px;
	overflow: hidden
}

.slick-carousel .slick-slide {
	text-align: center
}

.slick-carousel .slick-slide img {
	display: inline-block;
	padding: 0 3px
}

.slick-carousel .slick-dots {
	display: inline-block !important;
	position: absolute;
	right: 60px;
	bottom: 5px;
	width: auto
}

.slick-carousel .slick-dots .slick-active {
	border: 1px solid #333;
	border-radius: 0;
	background: #fff
}

.slick-carousel .slick-dots .slick-active button {
	color: #333
}

.slick-carousel .slick-dots li {
	margin: 0 2px;
	width: 20px;
	height: 20px;
	border: 1px solid #ddd;
	background: 0 0;
	vertical-align: middle
}

.slick-carousel .slick-dots li button {
	width: 100%;
	height: 100%;
	color: #333;
	font-size: 12px;
	padding: 0;
	vertical-align: middle
}

.slick-carousel .slick-dots li button:before {
	display: none
}



@media ( max-width :991px) {
	.slider {
		padding: 0
	}
	.main-carousel .carousel-img {
		height: auto;
		padding-bottom: 33.6%
	}
	.main-banner {
		width: 100%
	}
	.video-banner {
		margin: 0;
		width: 100%
	}
	.video-banner .video-carousel {
		border-top: 3px solid #6f6f6f;
	}
	.slick-carousel {
		max-height: 185px
	}
	.slick-carousel .slick-dots li {
		display: none
	}
	.slick-carousel .slick-dots li:nth-child(1),.slick-carousel .slick-dots li:nth-child(2),.slick-carousel .slick-dots li:nth-child(3),.slick-carousel .slick-dots li:nth-child(4)
		{
		display: inline-block
	}
	.main-carousel,.video-banner {
		max-height: none
	}
}

@media ( max-width :767px) {
	.content .common-function {
		text-align: center;
		border: 0
	}
	.content .common-function:after,.content .common-function:before {
		content: '';
		clear: both;
		display: block
	}
	.content .common-function .function-img {
		display: block;
		float: left;
		width: 48%;
		margin: 1%
	}
	.slick-carousel {
		padding-bottom: 30px;
	}
}

@media ( max-width :450px) {
	.main-carousel .slick-arrow {
		width: 10px;
		height: 18px
	}
	.main-carousel .slick-dots {
		right: 10px;
		bottom: 10px
	}
	.main-carousel .slick-dots li {
		width: 20px;
		height: 20px
	}
	.main-carousel .slick-dots li button {
		font-size: 12px
	}
	.slick-container .more {
		text-align: right;
		font-size: .8em
	}
}

.subpage-slider-bg {
	height: 347px;
	line-height: 180px;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center bottom;
	margin-top: -175px;
	position: relative;
	z-index: 2
}

@media ( max-width :991px) {
	.subpage-slider-bg {
		height: 387px;
		margin-top: -215px
	}
}

.subpage-slider-bg>.container {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto
}

.subpage-slider-bg .left-image {
	position: absolute;
	bottom: 0;
	left: 0;
	max-height: 168px
}

.subpage-slider-bg .right-image {
	position: absolute;
	bottom: 20px;
	right: 0;
	max-height: 120px
}

.subpage-slider-bg .right-title {
	position: absolute;
	top: -130px;
	right: 0;
	max-width: 768px;
	line-height: 1;
	text-align: center;
	vertical-align: bottom
}

.subpage-slider-bg .subtitle {
	display: inline-block;
	font-size: 1.875em;
	color: #5678a0;
	padding: 10px;
	text-shadow: 2px 2px 2px #fff, -2px 2px 2px #fff, 2px -2px 2px #fff,
		-2px -2px 2px #fff
}


.subpage-video-banner {
	margin-bottom: -4px;
}


@media ( max-width :767px) {
	.subpage-slider-bg .subtitle {
		font-size: 1.5em
	}
	.subpage-slider-bg .left img {
		left: 0;
		z-index: -3
	}
}

.home {
	color: #969696;
	margin-top: 5px;
	position: relative;
	padding: 3px;
}

.home .pagetitle {
	font-size: 1.875em;
	color: #cc9933;
	margin: 10px 0
}

.home .printer {
	position: absolute;
	display: inline-block;
	right: 0
}

.sub-content {
	padding: 0 10px;
	/*margin-bottom: 50px*/
}

ul.link-list {
	margin-top: 0;
	padding: 0
}

ul.link-list:after,ul.link-list:before {
	content: ' ';
	display: block;
	clear: both
}

ul.link-list>li {
	list-style-type: none
}

ul.link-list>li a {
	color: #000;
	display: block;
	font-weight: 700;
	padding: 10px 20px;
	background: url(../images/arrow_menu.png) left center no-repeat;
	background-size: 14px;
	border-bottom: 1px solid #f8d2a3
}

ul.link-list>li a:hover {
	background-color: #f8d2a3;
	text-decoration: none
}

ul.link-list>li.submenu ul {
	margin: 0;
	margin-left: 8px;
	padding: 0
}

ul.link-list>li.submenu ul li {
	list-style-type: none;
	line-height: 20px
}

ul.link-list>li.submenu ul li:last-child {
	border-bottom: none
}

ul.link-list>li.submenu ul li a {
	position: relative;
	background: #fff;
	border-bottom: 1px solid #ecefee;
	color: #000;
	padding-left: 30px;
	font-weight: 400
}

ul.link-list>li.submenu ul li a:before {
	position: absolute;
	left: 15px;
	font-size: 12px;
	content: '● ';
	color: #ed8934;
}

ul.link-list>li.submenu ul li a:hover {
	background: #f7f8f9
}

ul.link-list>li li.sub-menu>ul {
	padding-left: 20px
}

ul.link-list>li li.sub-menu>ul li {
	list-style-type: none
}

ul.link-list>li li.sub-menu>ul li>a {
	background: 0 0;
	padding-left: 20px;
	font-weight: 400
}

ul.link-list>li li.sub-menu>ul li>a:before {
	position: absolute;
	left: 5px;
	content: '■ ';
	color: #ed8934;
	font-size: 13px;
}

ul.link-list>li li.sub-menu li.sub-last ul {
	padding-left: 10px
}

ul.link-list>li li.sub-menu li.sub-last ul li a {
	background: #fff;
	border-bottom: none;
	font-weight: 400
}

ul.link-list>li li.sub-menu li.sub-last ul li a:before {
	position: absolute;
	left: 5px;
	content: '♦ ';
	color: #ed8934;
	font-size: 15px;
}

ul.link-list>li li.sub-menu li.sub-last ul li a:hover {
	text-decoration: underline
}

.news,.notice {
	margin-bottom: 30px
}

.news .table-list,.notice .table-list {
	width: 100%
}

.news th,.notice th {
	background: #f88a02;
	text-align: center;
	color: #fff;
	border-right: 2px solid #fff
}

.news td,.news th,.notice td,.notice th {
	padding: 10px
}

.news td a,.news th a,.notice td a,.notice th a {
	color: #333;
	display: block;
}

.news tr:nth-child(even),.notice tr:nth-child(even) {
	background: #faf4eb
}

.notice th {
	background: #449ff9
}

.notice tr:nth-child(even) {
	background: #f0f8fc
}

.general-table .title {
	font-size: 1.1em;
	font-weight: 700;
	color: #0261c0;
	border-bottom: 1px solid #f9d502;
	padding: 10px 15px
}

.general-table .text {
	padding: 10px;
	font-size: 1em;
}

.general-table .text .sub-table {
	width: 100%
}

.general-table .text .sub-table tr {
	background: #f7f8f9
}

.general-table .text .sub-table tr:hover {
	background: #e8e8e8;
}

.general-table .text .sub-table tr .pdf {
	padding: 15px;
	display: block;
	background: url(../images/pdf.png) center left no-repeat
}

.general-table .text .sub-table td, .general-table .text .sub-table th {
	padding: 10px 10px;
	text-align: left;
	border-bottom: 1px solid #ccc
}

.general-table .text .sub-table th {
	color: #fff;
	background: #59aaf8
}

.contact-inquire table {
	width: 100%;
	text-align: left
}
	
.contact-inquire table tr {
	border-bottom: 1px solid #edeeef
}

.contact-inquire table thead tr th {
	color: #fff;
	background: #59aaf8;
	text-align: left;
	padding: 10px 0 10px 30px
}

.contact-inquire table tbody tr td {
	background: #f7f8f9;
	padding: 10px 5px;
}

.contact-inquire table tbody tr td:first-child {
	background: #f7f8f9;
	padding-left: 30px;
	font-weight: bold;
}

.contact-inquire table tbody tr td {
	vertical-align:top;
}

.login {
	background-color: #f1f2f4;
}

.login .login-con {
	display: table;
	margin: 0 auto
}

.login .left {
	height: 100%;
	display: table-cell;
	background-color: #e5e6e7;
	padding: 50px 50px 40px;
	margin: 0 30px;
	position: relative
}

.login .left .icon-user {
	background: url(../images/user.png) 20px center no-repeat #fff;
	background-size: 20px
}

.login .left .icon-pwd {
	background: url(../images/pas.png) 20px center no-repeat #fff;
	background-size: 20px
}

.login .left input {
	margin-bottom: 15px;
	border: 1px solid #ccc;
	font-size: 1em;
	padding-left: 50px;
	padding-right: 15px;
}

.login .left .btn-login {
	padding: 10px 40px;
	color: #fff;
	background-color: #19a2f7;
	margin: 10px
}

.login .left .forget {
	margin-top: 15px
}

.login .left:after {
	content: '';
	width: 0;
	height: 0;
	display: block;
	position: absolute;
	top: 0;
	right: 42%;
	border-right: 20px solid transparent;
	border-left: 20px solid transparent;
	border-top: 15px solid #fff
}

.login .right {
	padding: 0px 40px;
	vertical-align: middle;
}

.login .right a {
	padding: 35px 70px;
	border: 4px solid #19a2f7;
	background: #fff;
	color: #000;
	white-space: nowrap;
	font-size: 1em;
}

.login .right a img {
	width: 40px;
	margin-right: 15px
}

.registered .user {
	background-color: #e5e6e7;
	margin-bottom: 30px
}

.registered .user .nav-tabs {
	text-align: center;
	position: relative;
	margin: 0 0;
}

.registered .user .nav-tabs span {
	display: block;
	padding: 3px 0;
	font-weight: 700;
}

.registered .user .nav-tabs li {
	border-right: 1px solid #ccc;
	padding: 0;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent
}

.registered .user .nav-tabs li a {
	width: 100%;
}

.registered .user .nav-tabs li.active {
	border: 5px solid #19a2f7
}

.registered .user .nav-tabs li.active:after {
	content: '';
	width: 0;
	height: 0;
	display: block;
	position: absolute;
	bottom: -18px;
	right: 20%;
	border-right: 18px solid transparent;
	border-left: 18px solid transparent;
	border-top: 18px solid #19a2f7
}

.registered .tab-content {
	padding: 0 50px
}

.registered .tab-content .mark {
	color: red;
	background: 0 0
}

.registered .tab-content .title {
	border-bottom: 1px solid #f88a02;
	padding: 10px 5px;
	font-weight: 700
}

.registered .tab-content .title span {
	color: #f88a02
}

.registered .tab-content .table-text {
	margin: 10px 15px;
	padding: 10px 15px;
	width: 70%
}

.registered .tab-content .table-text .input-radio input {
	margin-left: 15px
}

.registered .tab-content .btn-submit {
	margin: 30px 20px
}

.registered .tab-content .btn-submit .btn-gray,.registered .tab-content .btn-submit .btn-orange
	{
	padding: 10px 20px
}

.CEPA .title {
	color: white;
	font-weight: bold;
	display: block;
	background: #59aaf8;
	margin-left: 0;
	padding: 15px;
}

.CEPA table {
	width: 100%;
	background: #f7f8f9;
}

.CEPA table tr {
	border-bottom: 1px solid #CCCCCC;
}

.CEPA table tr th {
	color: white;
	background: #f88a02;
	padding: 5px 0;
	border-right: 1px solid white;
	border-bottom: 1px solid white;
	text-align: center;
}

.CEPA table tr th.text-left {
	width: 78%;
	text-align: left;
	padding-left: 30px;
}

.CEPA table tr td {
	padding: 5px 0;
	text-align: center;
}

.CEPA table tr td.text-left {
	text-align: left;
	padding-left: 30px;
}

.CEPA table tr td.text-indent {
	padding-left: 3.5em;
}

.CEPA table tr td.text-indent-lv2-zh {
	padding-left: 7.4em;
}

.CEPA table tr td.text-indent-lv2-pt {
	padding-left: 8.6em;
}

.CEPA table tr td.text-indent-lv2-en {
	padding-left: 7.4em;
}

.CEPA table tr.parent-row {
	border-bottom: 0px;
}

.CEPA table tr.parent-row td {
	padding-top: 5px;
	padding-bottom: 0px;
}
.CEPA table tr.child-row {
	border-bottom: 0px;
}
.CEPA table tr.child-row td {
	padding-top: 0px;
	padding-bottom: 0px;
}

.CEPA table tr.last-child-row {
	padding-top: 0px;
	padding-bottom: 0px;
}
.CEPA table tr.last-child-row td {
	padding-top: 0px;
	padding-bottom: 0px;
}
.CEPA table tr td .prefix-text {
	white-space: nowrap;
	padding-right: 15px;
}

.CEPA table tr td span {
	margin-left: 0px;
	margin-top: 0px;
	display: table;
}

.CEPA table tr td span label {
	font-weight: normal;
	display: table-cell;
	min-width: 20px;
}

.CEPA table tr td .word {
	display: block;
	height: 19px;
	margin-top: 5px;
	margin-bottom: 5px;
	background: url("/dse-theme/images/word_doc.gif") no-repeat center center;
	border-right: 1px solid #cccccc;
}

.CEPA table tr td .word:hover {
	background: url("/dse-theme/images/word_doc.gif") no-repeat center center;
}

.CEPA table tr td .pdf {
	display: block;
	height: 19px;
	margin-top: 5px;
	margin-bottom: 5px;
	background: url("/dse-theme/images/pdf_doc.gif") no-repeat center center;
}

.CEPA table tr td .pdf:hover {
	background: url("/dse-theme/images/pdf_doc.gif") no-repeat center center;
}

.CEPA .bottom {
	padding: 10px 15px;
	border: 1px solid red;
	margin: 30px 0;
}

.workArea .nav {
	margin:0px;
}
.workArea .nav-work li a {
	border-radius: 0;
	background-color: #EEE;
	margin-right: 0;
	padding: 3px 30px;
	color: #888
}

.workArea .nav-work li.active a {
	background-color: #DDD;
	color: #000
}

.workArea .tab-content .top-search {
	background-color: #DDD;
}

.property .text {
	border: 1px solid #f8d2a3;
	margin-bottom: 30px;
}

.property .type-data-row div:last-child {
	border-right: 0px;
}

.property .text a {
	color: black;
	display: block;
}

.property table {
	width: 100%;
	text-align: center;
}

.property table tr {
	border-top: 1px solid #f8d2a3;
}

.property table tr th {
	background: #f78902;
	padding: 10px;
	color: white;
	text-align: center;
}

.property table tr td {
	text-align: center;
}

.property table tr td div .type-data-cell {
	text-align: center;
	border-right: 1px solid #f8d2a3;
	padding: 5px;
	height: 50px;
	
}

.property table tr td.year-string {
	text-align: center;
	font-size: 1.1em;
	padding: 5px;
	border-right: 1px solid #f8d2a3;
}

.property table tr td div .data-cell {
	text-align: center;
	border-right: 1px dashed #f8d2a3;
	padding: 5px;
	height: 33px;
}

.property table tr td div .all-quarter-cell {
	text-align: center;
	padding: 5px;
	background: #f6f7f8;
	border-right: 1px solid #f8d2a3;
	height: 33px;
}

.property table tr td div .all-month-cell {
	text-align: center;
	padding: 5px;
	background: #f6f7f8;
	height: 33px;
}

.property table tr td .row {
	margin: 0;
	padding: 0;
}

.property table tr td .col-sm-9, .col-sm-10{
	margin: 0;
	padding: 0;
}
		
.property table tr td:first-child,.property table tr td:nth-child(6) {
	border-right: 1px solid #f8d2a3;
}

.property table tr.table-th td {
	background: white;
	border-right: 1px solid #f8d2a3;
}

.property table tr.text-th td {
	background: #f8d2a3;
	font-weight: bold;
	border-right: 1px solid white;
	padding: 5px;
}
.property table tr.text-th td:last-child {
	border-right: 0px;
}

@media (max-width: 767px) {
	.property table tr td div .data-cell, .type-data-cell {
		border-top: 1px dashed #f8d2a3;
	}
}

.video-page-content .title {
	font-size: 1.0625em;
	padding: 6px;
	color: #1d8ec6;
	border-bottom: 1px solid #fbd01f
}

.video-page-content .video-list {
	padding: 15px
}

.video-page-content .video-list:after,.video-page-content .video-list:before
	{
	content: '';
	clear: both;
	display: block
}

.video-page-content .video-item {
	position: relative;
	float: left;
	width: 31%;
	margin: 15px 1%;
	border: 2px solid #ddd;
	overflow: hidden;
	padding-bottom: 60px;
	background: #6f6f6f;
	max-height: 230px;
	max-width: 355px;
}

.video-page-content .video-item:hover {
	border-color: #6f6f6f
}

.video-page-content .video-item:hover .item-content {
	background: #6f6f6f;
	color: #fff;
	height: auto;
}

.video-page-content .video-item .item-img {
	width: 100%;
	height: auto
}

.video-page-content .video-item .item-content {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 12px;
	color: #333;
	background: #ddd;
	overflow: hidden;
	height: 60px
}

.video-page-content .video-item .item-play-btn {
	vertical-align: top;
	min-width: 32px
}

.video-page-content .video-item .item-title {
	width: 100%;
	padding-left: 6px;
	font-size: .875em;
	vertical-align: middle
}

.video-page-content .video-item:hover a {
	text-decoration: none;
}

@media ( max-width :767px) {
	.video-page-content .video-item {
		width: 48%
	}
}

@media ( max-width :450px) {
	.video-page-content .video-item {
		width: 100%;
		margin: 0 0 15px 0
	}
}

#dimOverlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	width: 100vw;
	height: 100%;
	height: 100vh;
	display: none;
	background: #000;
	background: rgba(0, 0, 0, .5);
	text-align: center;
	z-index: 100000
}

#dimOverlay>.x {
	right: 10%;
	top: 10%;
	color: #fff;
	display: inline-block;
	position: fixed;
	font-size: 30px;
	border: 1px solid white;
	padding: 0px 15px;
}

#dimOverlay>.x:hover {
	cursor: pointer
}

.verticalMiddleWrapper {
	display: table-cell;
	vertical-align: middle;
	height: 100%
}

@media ( max-width :660px) {
	#f4Player,#videoPlayer {
		width: 320px;
		height: 200px
	}
}



/* CMS dropdown submenu supplementary */
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    color: #fff;
    text-decoration: none;
    background-color: #428bca;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
/* end of dropdown menu fix */

.crumbs span, .crumbs a {
	font-size: 0.95em;
}

.font-resize-group {
	display: inline-block;
	color: #555;
	font-weight: 700;
	margin-left: 5px;
	vertical-align: middle
}

.font-resize-group .font-resize {
	display: table-cell;
	height: 16px;
	padding: 0 8px;
	border-right: 2px solid #fff;
	color: #555;
	line-height: 22px;
	background: #ebebeb;
	vertical-align: baseline;
	cursor: pointer
}

.font-resize-group .font-resize:hover {
	background: #fcdb00
}

.font-resize-group .font-A {
	display: inline
}

.font-resize-group .font-small {
	font-size: 12px
}

.font-resize-group .font-medium {
	font-size: 15px
}

.font-resize-group .font-large {
	font-size: 18px
}

.font-x-large .content .latest-news .latest-news-list li:last-child {
	display: none
}

.search-container {
    float: right;
    width:100%;
    text-align: center;
}

.search-container .search-input {
	border: 1px solid #d0d0d0;
	vertical-align: middle;
    margin-top: 1px;
    font-size: 15px;
    padding: 3px;
    width:100%;
}
		
@media ( min-width :768px) {
	.en_US .dse-menu .dse-dropdown-menu,.en_US .dse-menu .dse-menu-tab .li-level1>a,.en_US .dse-menu .li-level0>a span,.pt_PT .dse-menu .dse-dropdown-menu,.pt_PT .dse-menu .dse-menu-tab .li-level1>a,.pt_PT .dse-menu .li-level0>a span
		{
		font-size: 13px
	}
}

@media (max-width: 767px) {
	.menu-item-hidden {
		display: none !important;
	}
}

.numberLevelContent ol {
	counter-reset: item;
  	list-style-type: none;
  	margin-top: 0px;
}

.numberLevelContent ul {
  	margin-top: 0px;
}

.numberLevelContent li {
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: justify;
}

.numberLevelContent ol>li {
	display: block;
	padding-left: 1.75em;
}

.numberLevelContent ol>li::before {
	counter-increment: item;
	content: counters(item, ".") ". ";                                
	width: 2.75em;
	margin-left: -2.75em;
	display:inline-block;
}

