/* Custom primefaces component style */
.ui-widget {
	font-size: 1em !important;
	font-family: "Open Sans","Roboto","Microsoft JhengHei UI","Microsoft JhengHei",Helvetica,Arial,sans-serif !important;
}

.ui-selectonemenu .ui-selectonemenu-trigger {
	width: 23px !important;
}

.ui-inputfield.focus {
	border-color: #ffcc00 !important;
	background-color:#ffffcc !important;
}

/**********************************************/
.fontHeader 
{
    font-size: 1.385em; 
    font-weight: normal; 
    color:#454545;
}

.fontBody 
{
	font-weight: normal;
	font-size: 1em;
	color: #000000;
	text-align: justify;
}


.fontBodySmall
{
    font-size: 0.923em; 
}

.fontLinkMark 
{
    font-size: 1.077em; 
    font-weight: normal; 
    color:#999933;
}

.fontLink
{
    font-size: 1em; 
    font-weight: normal; 
    color:#454545;
}

.fontButton
{
    font-size: 1em; 
    font-weight: normal; 
    color:#D27A11;
}

.fontNavigationLink
{
    font-size: 0.923em; 
    font-weight: normal; 
    color:#CB784B;
}

.fontNavigationText
{
    font-size: 1em; 
    font-weight: normal; 
    color:#337ab7;
}

.tdTableHeader
{
    font-size: 1em; 
    font-weight: bold; 
    color:#ffffff;
    background-color:#f88a02;
    text-align:left;
    padding: 5px;
}

.tdTableSubHeader
{
    font-size: 1em; 
    font-weight: bold; 
    color:#000;
    background-color:#f8d2a3;
    text-align:left;
    padding: 5px;
}

.tdTableBody
{
    font-size: 1em; 
    font-weight: normal; 
    color:#000000;
    padding: 5px;
}

.tdTableBorder
{
    background-color:#CCCCCC;
}

.tdTableRowLine
{
    height: 1px;
    background-color:#CCCCCC;
}

.tdTableRowSpace
{
    height: 5px;    
}

.tdTableLink
{
    font-size: 1em; 
    font-weight: normal; 
    color:#454545;
}

a.aTableLink:link
{
    color:#454545;
}

a.aTableLink:visited
{
    color:#454545;
}

a.aTableLink:hover
{
    text-decoration:underline;
}

a.aTableHeader:link
{
    color:#ffffff;
}

a.aTableHeader:visited
{
    color:#ffffff;
}

a.aTableHeader:hover
{
    text-decoration:underline;
}

a.imageLink:hover {
		text-decoration: none;
}

a.urlText {
	word-wrap: break-word;
	word-break: break-all;
}

.tdBody 
{
	font-size: 1em; 
	font-weight: normal;
	color:#000000;
}

/*
a {
	text-decoration: none;
}

a.link { 
  color: #454545;
}

a.active { 
  color: #454545;
}

a.hover { 
    color: #454545;
    text-decoration:underline;
}

a.visited {
    color: #454545;
}
*/

.fontBodyBold {
	font-size: 1em;
	font-weight: bold;
}
.fontBiggerTitle {
	font-size: 1.385em;
	font-weight: bold;
}
.fontTitle {
	font-weight: bold; 
	font-size: 1.308em; 
	color: #006A91; 
}
.fontTitleWithLine{
	font-weight: bold; 
	font-size: 1.308em; 
	color: #006A91; 
	border-bottom: 1px solid #006A91;
  	padding: 5px 0px;
}
.fontSubtitle {
	font-size: 1em;
}
.bullet {
	list-style-image: url(../images/dot1.gif);
	font-size: 1em;
}

.bulletLevel1 {
	list-style-image: url(../images/dot1.gif);
}

.bulletLevel2 {
	list-style-image: url(../images/dot_sq.gif);
}

.bulletLevel3 {
	list-style-image: url(../images/dot_dia.gif);
}

.bulletLevel4 {
	list-style-image: url(../images/dot2.gif);
}

.bulletLevel1,
.bulletLevel2,
.bulletLevel3,
.bulletLevel4 {
	FONT-WEIGHT: normal;
	font-size: 1em;
	color: #000000;
  text-align: justify;
  padding-right: 30px;
	margin-top:0.2em;
	margin-bottom:0.3em;
}



.bulletLevel1 a:hover,
.bulletLevel2 a:hover,
.bulletLevel3 a:hover,
.bulletLevel4 a:hover {
	text-decoration: underline;
}

ol li {
	margin-top:0.2em;
	margin-bottom:0.3em;
}

.bulletIcon1 {
    background-image : url(../images/corner1.gif);
    padding-left: 10px;
    padding-right: 10px;
}

a.aTableEmphaLink:link {
	color: #cb784b
}
a.aTableEmphaLink:visited {
	color: #cb784b
}
a.aTableEmphaLink:hover {
	TEXT-DECORATION: underline
}

.fontBodyEmpha {
	font-weight: normal;
	font-size: 1em;
	color: #0261c0;
	text-align: justify;
}
.fontBodyBoldEmpha {
	font-size: 1em;
    color: #0261c0;
	font-weight: bold;
}

.dseTableBorder {
    background-color:#666666;
}


.dseTableHeader {
    background-color:#dceaf6;
	font-size: 1em;
    color: #000000;
    border:1px solid #666666;
    padding:5px;
}


.dseTableBody {
    background-color:#FFFFFF;
    border:1px solid #666666;
    font-size: 1em;
    padding:3px;
}

table.dseTable {
	border-collapse: collapse;
	background-color: #dceaf6;
	width: 100%;
}

table.dseTable tbody > tr > td {
	border:1px solid #666666;
	padding: 5px;
	vertical-align:middle;
}

table.dseTable .form-text {
	padding-top: 6px;
}

table.dseTable .form-caption {
	padding-top: 6px;
	text-align: right;
}

.errorMessage 
{
	font-weight: normal;
	font-size: 1em;
	color: #FF0000;
}

.actionMessage 
{
	font-weight: normal;
	font-size: 1em;
	color: #009900;
}

.messageTable {
	border: 1px solid #999999;
	background-color: #FFFFCC;
}



.info-box, .success-box, .warning-box, .error-box, .hint-box, .hint-box-1 {  
    border: 1px solid;  
    margin: 10px 10px;  
    padding:10px 10px 10px 50px;  
}   

.info-box {  
    color: #00529B;  
    background:#BDE5F8 url(../images/info.gif) 10px center no-repeat;    
}  
.success-box {  
    color: #356600;  
    background:#DFF2BF url(../images/success.gif) 10px center no-repeat;
}  
.warning-box {  
    color: #874c00;  
    background:#FEEFB3 url(../images/warning.gif) 10px center no-repeat;
}  
.error-box {  
    color: #D8000C;
    background:#FFBABA url(../images/error.gif) 10px center no-repeat;
} 
.hint-box {  
    color: #874c00;
    background:#fffecb url(../images/hint.gif) 10px center no-repeat;    
}  

.hint-box-1 {  
    color: #874c00;
    background:#fffecb url(../images/hint.gif) 10px 10px no-repeat;    
}

.bigger-box {  
	background-position: 15px 25px;
}

.big-box {  
	background-position: 15px 10px;
}


a.ovalbutton{
    background: transparent url('/dse-theme/images/oval-gray-left.gif') no-repeat top left;
    display: block;
    float: left;
    font: normal 9pt Arial; /* Change 13px as desired */
    line-height: 16px; /* This value + 4px + 4px (top and bottom padding of SPAN) must equal height of button background (default is 24px) */
    height: 24px; /* Height of button background height */
    padding-left: 11px; /* Width of left menu image */
    text-decoration: none;
    white-space: nowrap;
}   

a:link.ovalbutton, a:visited.ovalbutton, a:active.ovalbutton{
    color: #000000; /*button text color*/
}

a.ovalbutton span{
    background: transparent url('/dse-theme/images/oval-gray-right.gif') no-repeat top right;
    display: block;
    padding: 4px 11px 4px 0; /*Set 11px below to match value of 'padding-left' value above*/
}

a.ovalbutton:hover{ /* Hover state CSS */
    background-position: bottom left;
}

a.ovalbutton:hover span{ /* Hover state CSS */
    background-position: bottom right;
    color: black;
}



a.ovalbutton-orange{
    background: transparent url('/dse-theme/images/oval-orange-left.gif') no-repeat top left;
}

a.ovalbutton-orange span{
    background: transparent url('/dse-theme/images/oval-orange-right.gif') no-repeat top right;
}

a.ovalbutton-disabled{
    color: #777777;
    background: transparent url('/dse-theme/images/oval-gray-left.gif') no-repeat top left;    
}

a.ovalbutton-disabled span{
    background: transparent url('/dse-theme/images/oval-gray-right.gif') no-repeat top right;
}

.shortcut {
    background: url('/dse-theme/images/shortcut.gif') no-repeat bottom right;
}

.itemInCart td {
    background-color:#f8edde;
}


a.tooltips {
    /*border-bottom: 1px dashed brown;    */
    text-decoration: none;
    cursor: help;
}

a.tooltips:hover {
    position: relative;
    text-decoration: underline;
}

a.tooltips span {
    display: none;
}

a.tooltips:hover span {
    display: block;
    position: absolute;     
    /*width: 20em;*/
    top: 10px; 
    left: 2em;		    
    padding: 5px; 
    margin: 10px; 
    z-index: 100;
    background: #f0f0f0; 
    border: 1px dotted #c0c0c0;
    opacity: 0.9;	    
    text-decoration: none;
}


table.noBorderTable thead tr td {
	font-size: 1em;
	font-weight: bold;
	color:#ffffff;
	vertical-align:text-top;
	border-spacing: 1px;
	border-right: 0px solid #FFFFFF;
	background-color: #CC9966;	
}

table.noBorderTable thead div {
	padding: 1px;
	background: url(../images/corner1.gif) no-repeat top right;
}

table.noBorderTable tbody td {
	vertical-align:text-top;
	border-width: 0px;
	padding: 2px;
}




table.entryForm {
	border: 1px solid #f78902;
	border-spacing: 0px;
	border-collapse: collapse;
	background-color: white;
}
table.entryForm thead {
  	font-size: 1em; 
  	font-weight: bold;
	border: 1px dashed #cccccc;
	padding: 1px;
	background-color: white;
}

table.entryForm td {
  	font-size: 1em; 
	border: 1px dashed #cccccc;
	padding: 5px;
	background-color: white;
}

table.eServiceEntryForm {
	border: 1px solid #59aaf8;
	border-spacing: 0px;
	border-collapse: collapse;
	background-color: white;
}
table.eServiceEntryForm thead {
  	font-size: 1em; 
  	font-weight: bold;
	border: 1px dashed #cccccc;
	padding: 1px;
	background-color: white;
}

table.eServiceEntryForm td {
  	font-size: 1em; 
	border: 1px dashed #cccccc;
	padding: 5px;
	background-color: white;
}

.contentTableHeader {
	font-size: 1em;
	font-weight: bold;
	color:#ffffff;
	vertical-align:text-top;
	border-spacing: 3px;
	border-right: 1px solid #FFFFFF;
  	padding: 5px;
  	background-color: #f88a02;
}

.contentTableSubHeader {
	font-size: 1em;
	font-weight: bold;
	color:#ffffff;
	vertical-align:text-top;
	border-spacing: 3px;
	border-right-width: 1px;
	border-right-style:solid;
	border-right-color:#FFFFFF;
    border-width: 0;
    padding: 5px;
	background: #DBA46E url(../images/corner2.gif) no-repeat top right;
}

table.contentTableBody {
	border: 1px solid white;
	border-bottom: 1px solid #CCCC99;
	border-collapse: collapse;
	background-color: white;
}

table.contentTableBody td {
  	font-size: 1em; 
	vertical-align:text-top;
	border: 1px solid #CCCC99;
	padding: 5px;
	border-top-width: 0px;
}




table.contentTable {
	border: 2px solid white;	
	border-bottom: 1px solid #cccccc;
	border-collapse: collapse;
	background-color: white;
	
}

table.contentTable thead tr td, table.contentTable thead tr th {
	font-size: 1em;
	font-weight: bold;
	color:#ffffff;
	vertical-align:text-top;
	border-spacing: 3px;
	background-color: #f88a02;
	padding: 5px 10px;
	border-right: 1px solid #FFF;
}

table.contentTable thead div {
	padding: 5px;
	background: #f88a02;
}

table.contentTable tbody td {
  	font-size: 1em; 
	vertical-align:text-top;
	padding: 5px 10px;
	border: 1px solid #cccccc;	
	border-top-width: 0px;
	background: #f6f7f8;
}

table.contentTable tbody td a {
	display: block;
	padding: 5px 0;
}

table.contentTable .telText {
	padding-bottom: 10px;
}

table.contentTable thead .subHeader th, table.contentTable thead .subHeader div {
	background-color:#f8d2a3; 
	color:black
}

table.eServiceAppTable {
	border: 2px solid white;	
	border-bottom: 1px solid #cccccc;
	border-collapse: collapse;
	background-color: white;
	
}

table.eServiceAppTable thead tr th {
	font-size: 1em;
	font-weight: bold;
	color:#ffffff;
	vertical-align:text-top;
	border-spacing: 3px;
	background-color: #59aaf8;
	padding: 5px 10px;
	border-right: 1px solid #FFF;
}

table.eServiceAppTable thead div {
	padding: 5px;
	background: #59aaf8;
}

table.eServiceAppTable tbody td {
  	font-size: 1em; 
	vertical-align:text-top;
	padding: 5px 10px;
	border: 1px solid #cccccc;	
	border-top-width: 0px;

}

table.eServiceAppTable tbody td a {
	display: block;
	padding: 5px 0;
}

.linkHover:hover {
	background-color: #EEEEEE;
}

table.categoryItemTable {
	border-width: 0px;
	border-collapse: collapse;	
}

table.categoryItemTable thead tr td {
	font-size: 1em;
	font-weight: bold;
	color:#ffffff;
	vertical-align:text-top;
	border-spacing: 1px;
	border-right: 1px solid #FFFFFF;
	background-color: #CC9966;	
}

table.categoryItemTable thead div {
	padding: 1px;
	background: #CC9966 url(../images/corner1.gif) no-repeat top right;
}

table.categoryItemTable tbody td {
  	font-size: 1em; 
	vertical-align:text-top;
	border-width: 0px;
	padding: 2px;
}



table.contentPanel {
	border: 1px solid white;	
	border-collapse: collapse;
	background-color: white;
	
}

table.contentPanel thead tr th {
	font-size: 1em;
	font-weight: bold;
	color:#ffffff;
	vertical-align:text-top;
	border-spacing: 3px;
	border-right: 1px solid #FFFFFF;
	background-color: #CC9966;	
	padding: 5px;
	background: #CC9966 url(../images/corner1.gif) no-repeat top right;
}

table.contentPanel tbody table {
	border: 1px solid #CC9966;
}



table.dseAppTable {
	border-collapse: collapse;
}

table.dseAppTable tr th {
	font-size: 1em;
	font-weight:normal;
	color: #FFF;
	border: 1px solid #666666;
	background-color: #59aaf8;
	padding: 5px;
	vertical-align: middle;
}

table.dseAppTable tr td {
	font-size: 1em;
	border: 1px solid #666666;	
	vertical-align: middle;
	padding: 5px;
	background-color: #FFFFFF;
}


.dataTable table thead tr th {
	font-size: 1em;
	font-weight: bold;
	color: #FFFFFF;
	vertical-align: text-top;
	border-spacing: 3px;
	border-right: 1px solid #FFF;
	padding: 10px;
	background-color: #f88a02;
	background:#f88a02;
	vertical-align: text-top;
}

table.normalContentTable {
	border-collapse: collapse;
}
table.normalContentTable tr td {
	border: 1px solid #000000;
	padding: 3px;
	vertical-align:text-top;
}

table.noBorderTableWithPadding {
	border-collapse: collapse;
}
table.noBorderTableWithPadding tr td {
	border-width: 0px;
	padding: 3px;
	text-align: justify;
	vertical-align:text-top;
}

table.itemIndexTable {
	border-collapse: separate;
	border: 1px solid #999999;
	padding: 10px;
}

table.itemIndexTable tr td {
	padding: 3px;
}

ul.indexTableItem {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

ul.indexTableItem li {
	background-image: url(../images/arrow.gif);
	background-repeat: no-repeat;
	background-position: 0 .35em;
	padding-left: 20px;
	padding-top: 2px;
	padding-bottom: 2px;
}
	
table.blackBorderTable {
	border: 1px solid #000000;
	border-collapse: collapse;
	background-color: white;
}
table.blackBorderTable thead tr td {
	font-size: 1em;
	font-weight: bold;
	color:#ffffff;
	vertical-align:text-top;
	border: 1px solid #000000;
	background-color: #f88a02;
}
table.blackBorderTable thead div {
	padding: 10px;
	background-color: #f88a02;
}
table.blackBorderTable tr td {
	padding: 5px;
	border: 1px solid #000;
	vertical-align: text-top;
}

table.statDataTable {			
	border: 2px solid #FFFFFF; 
	border-bottom: 1px solid #f8d2a3;
	border-collapse: collapse;
	background-color: white;			
}

table.statDataTable tbody tr:hover {
	background-color: #f8d2a3;
}

table.statDataTable thead tr td {
	font-size: 1em;
	font-weight: bold;
	color: #ffffff;
	border-spacing: 5px;
	border-right: 1px solid #FFFFFF;
	background-color: #f88a02;
}

table.statDataTable thead div {
	padding: 5px;
	border-spacing: 1px;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 100% 0%;
}

table.statDataTable tbody td {
	font-size: 1em;
	padding: 5px;
	border: 1px solid #f8d2a3;
	border-top-width: 0px;			
}

table.statDataTable tfoot tr td {
	padding: 5px;
	font-weight: bold;
	border-bottom-style: double;
	border-color: #f8d2a3;
}

table.addressTable tr td {
	padding: 5px;
	background-color: #59aaf8;
	color: white;
}
table.addressTable tr td:first-child {
	padding-left: 15px;
}
table.addressTable tr td a {
	color: white;
}
		
iframe {
	position: relative;
	z-index: 1
}

iframe.cover {
	position: absolute;
	border: none;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -1
}

table.tableWithFixedFontsize td {
	font-size: 13px;
}

.dse-marquee {
	padding:2px; 
	background: rgb(0, 252, 255); /* for IE8 */
	background: rgba(0, 252, 255, 0.6);
	font-size:1em;
	color:#000000;
} 
.marquee  {
  	width: 100%;
  	white-space: nowrap;
  	text-align: center;
  	overflow: hidden;
  	visibility: hidden;
  	
}

