body:lang(pt) {
    font-family: "Open Sans","Roboto","Microsoft JhengHei UI","Microsoft JhengHei",Helvetica,Arial,sans-serif;
    letter-spacing: .3px;
    line-height: 1.3;
}

.fontBody 
{
	font-size: 1.063em !important;
}


.font-x-small {
	font-size: 0.813em
}

.font-small {
	font-size: 0.938em;
}

.font-medium {
	font-size: 1.063em;
}

.font-large {
	font-size: 1.125em
}

.font-x-large {
	font-size: 1.25em
}