@media ( min-width :768px) {
	#map {
		width:100%;
		min-height:800px
	}
	
	.sidebar-bottom-panel {
		display: block;
	}
	
	.footer-panel {
		display: none;
	}
}

@media ( max-width :767px) {
	#map {
		width:100%;
		min-height:480px
	}
	.sidebar-bottom-panel {
		display: none;
	}
	
	.footer-panel {
		display: block;
	}
}

.mapboxgl-popup-content {
	border: 1px solid #929292;
	border-radius: 8px;
	box-shadow: 0px 2px 4px 2px rgba(0,0,0,.1);
	padding: 0px 0px 10px 0px;
}

.mapboxgl-popup-content div {
	position: relative;
	z-index: 5;
}

.mapboxgl-popup-content img {
	border-radius: 8px 8px 0 0;
}

.mapboxgl-popup-content:before {
	content: '';
	position: absolute;
	top: -webkit-calc(100% - 9px);
	top: calc(100% - 9px);
	left: calc(50% - 10px);
	height: 20px;
	width: 20px;
	background: white;
	transform: rotate(45deg);
	border-bottom: inherit;
	border-right: inherit;
	box-shadow: 4px 4px 4px -1px rgba(0, 0, 0, 0.1);
	z-index: 4;
}

.mapboxgl-popup {
	margin-top: -10px;
}

/* Hide the old tip */
.mapboxgl-popup-tip {
	display: none;
}

table.popupTable {
	width: 100%
}

table.popupTable thead td {
	padding: 8px 8px 2px 8px;
	font-size: 1.308em;
	color: #006A91;
	font-weight: bold;	
	
}

table.popupTable tbody td {
	padding: 8px 8px 2px 8px;
	font-size: 1.231em;
	vertical-align: top;
	
}

table.popupTable tbody td img {
	width: 16px;
	height: 16px;
	min-width: 16px;
	min-height: 16px;
}

table.popupTable tfoot td {
	font-size: 1.3em;
	padding: 2px 8px 2px 8px;
}

@media ( min-width :768px) {
	.sideMenuBottom {
		height: 230px;
	}
}

.marker {
	height: 26px;
	width: 26px;
	color:#fff;
	background-color: #006A91;
	border-radius: 50%;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
}

.marker-restaurant {
	height: 26px;
	width: 26px;
	background-image: url(../../images/restaurant.svg);
	background-position: center center;
			background-repeat: no-repeat;
}

.marker-restaurant:hover {
	cursor:pointer
}

.marker-shop {
	height: 26px;
	width: 26px;
	background-image: url(../../images/shopping.svg);
	background-position: center center;
			background-repeat: no-repeat;
}

.marker-shop:hover {
	cursor:pointer
}

.marker-scenic {
	height: 26px;
	width: 26px;
	background-image: url(../../images/photo-camera.svg);
	background-position: center center;
			background-repeat: no-repeat;
}

.marker-scenic:hover {
	cursor:pointer
}

.marker-location {
	height: 46px;
	width: 46px;
	background-image: url(../../images/location_map.svg);
	background-position: center center;
			background-repeat: no-repeat;
}

.animate-menu-push {
	left: 0;
	position: relative;
	transition: all 0.3s ease;
	height: 100%;
	overflow-y: scroll;
}

.animate-menu-push.animate-menu-push-right {
	left: 200px;
}

.animate-menu-push.animate-menu-push-left {
	left: -200px;
}

.animate-menu {
	position: fixed;
	top: 0;
	width: 200px;
	height: 100%;
	transition: all 0.3s ease;
}

.animate-menu-left {
	left: -200px;
}

.animate-menu-left.animate-menu-open {
	left: 0;
}

.animate-menu-right {
	right: -200px;
}

.animate-menu-right.animate-menu-open {
	right: 0;
}

.sidebar-menu {
	list-style: none;
	margin: 0;
	padding: 0;
	background-color: #edeef0;
}

.sidebar-menu>li {
	position: relative;
	margin: 0;
	padding: 0;
}

.sidebar-menu>li>a {
	padding: 12px 5px 12px 15px;
	display: block;
	border-left: 3px solid transparent;
	font-weight: bold;
	color: #828282;  /* parent text color */
}

.sidebar-menu>li>a>.fa {
	width: 20px;
}

.sidebar-menu>li:hover>a,.sidebar-menu>li.active>a {
	color: #006A91;
	font-weight: bold;
	background: #edeef0;
	border-left-color: #006A91;
}

.sidebar-menu>li .label,.sidebar-menu>li .badge {
	margin-top: 3px;
	margin-right: 5px;
}

.sidebar-menu li.sidebar-header {
	padding: 10px 25px 10px 15px;
	font-size: 1.3em;
	color: #4b646f;
	background: #1a2226;
	font-size: 1.3em
}

.sidebar-menu a.sidebar-header {
	font-size: 1.3em
}

.sidebar-menu li>a>.fa-angle-left {
	width: auto;
	height: auto;
	padding: 0;
	margin-right: 10px;
	margin-top: 3px;
}

.sidebar-menu li.active>a>.fa-angle-left {
	transform: rotate(-90deg);
}

.sidebar-menu li.active>.sidebar-submenu {
	display: block;
}

.sidebar-menu a {
	color: #000;
	text-decoration: none;
}

.sidebar-menu li a span label {
	font-size: 1.3em
}

.sidebar-menu .sidebar-submenu {
	display: none;
	list-style: none;
	padding-left: 5px;
	margin: 0 1px;
	background: #fcfdff;
}

.sidebar-menu .sidebar-submenu .sidebar-submenu {
	padding-left: 20px;
}

.sidebar-menu .sidebar-submenu>li>a {
	padding: 5px 5px 5px 15px;
	display: block;
	color: #000;
	border-right: 3px solid transparent;
}

.sidebar-menu .sidebar-submenu>li>a>span>label {
	font-size: 1.3em;
}

.sidebar-menu .sidebar-submenu>li>a>.fa {
	width: 20px;
}

.sidebar-menu .sidebar-submenu>li>a>.fa-angle-left,.sidebar-menu .sidebar-submenu>li>a>.fa-angle-down
	{
	width: auto;
}

.fa-marker {
	width: 25px;
	height: 25px;
	background-image: url(../../images/location.svg);
	background-position: center center;
  	background-repeat: no-repeat;
  	margin-right: 5px;
}

.fa-restaurant {
	width: 25px;
	height: 25px;
	background-image: url(../../images/restaurant.svg);
	background-position: center center;
  	background-repeat: no-repeat;
  	margin-left: 30px;
  	margin-right: 10px;
}

.fa-shop {
	width: 25px;
	height: 25px;
	background-image: url(../../images/shopping.svg);
	background-position: center center;
  	background-repeat: no-repeat;
  	margin-left: 30px;
  	margin-right: 10px;
}

.fa-scenic {
	width: 25px;
	height: 25px;
	background-image: url(../../images/photo-camera.svg);
	background-position: center center;
  	background-repeat: no-repeat;
  	margin-left: 30px;
  	margin-right: 10px;
}


.sidebar-menu .sidebar-submenu>li.active>a,.sidebar-menu .sidebar-submenu>li>a:hover
{
	background: #cecece; /* sub-menu over */
	color: #006A91;
	border-right-color: #006A91;
}

.sidebar-menu span label {
	vertical-align: top; 
	max-width:80%
}

.sidebar-menu .submenu-item {
	
}

.sidebar-menu-rtl {
	list-style: none;
	margin: 0;
	padding: 0;
	background-color: #222d32;
}

.sidebar-menu-rtl>li {
	position: relative;
	margin: 0;
	padding: 0;
}

.sidebar-menu-rtl>li>a {
	padding: 12px 15px 12px 5px;
	display: block;
	border-left: 3px solid transparent;
	color: #fff;
}

.sidebar-menu-rtl>li>a>.fa {
	width: 20px;
}

.sidebar-menu-rtl>li:hover>a,.sidebar-menu-rtl>li.active>a {
	color: #fff;
	background: #1e282c;
	border-left-color: #3c8dbc;
}

.sidebar-menu-rtl>li .label,.sidebar-menu-rtl>li .badge {
	margin-top: 3px;
	margin-right: 5px;
}

.sidebar-menu-rtl li.sidebar-header {
	padding: 10px 15px 10px 25px;
	font-size: 1.3em;
	color: #fff;
	background: #1a2226;
}

.sidebar-menu-rtl li>a>.fa-angle-left {
	width: auto;
	height: auto;
	padding: 0;
	margin-right: 10px;
	margin-top: 3px;
	background-color: #000;
}

.sidebar-menu-rtl li.active>a>.fa-angle-left {
	transform: rotate(-90deg);
}

.sidebar-menu-rtl li.active>.sidebar-submenu {
	display: block;
}

.sidebar-menu-rtl a {
	color: #b8c7ce;
	text-decoration: none;
}

.sidebar-menu-rtl .sidebar-submenu {
	display: none;
	list-style: none;
	padding-right: 5px;
	margin: 0 1px;
	background: #2c3b41;
}

.sidebar-menu-rtl .sidebar-submenu .sidebar-submenu {
	padding-right: 20px;
}

.sidebar-menu-rtl .sidebar-submenu>li>a {
	padding: 5px 15px 5px 5px;
	display: block;
	font-size: 1.3em;
	color: #fff;
}

.sidebar-menu-rtl .sidebar-submenu>li>a>.fa {
	width: 20px;
}

.sidebar-menu-rtl .sidebar-submenu>li>a>.fa-angle-left,.sidebar-menu-rtl .sidebar-submenu>li>a>.fa-angle-down
	{
	width: auto;
}

.sidebar-menu-rtl .sidebar-submenu>li.active>a,.sidebar-menu-rtl .sidebar-submenu>li>a:hover
	{
	color: #fff;
}

